{% extends 'base.html' %}
{% block body %}
<section class="section-container">
    <!-- Page content-->
   <div class="content-wrapper">
      <div class="content-heading">
         <div>Book return</div>
      </div>
      <div class="row">
         <div class="col-xl-12">
           <!-- START card-->
            <div class="offset-xl-3 col-xl-5 ">
               <div class="card card-default" style="position: relative; opacity: 1; left: 0px; top: 0px;">
                  <div class="card-header portlet-handler ui-sortable-handle"><b>return confirmation </b></div>
                  <div class="card-wrapper">
                     <div class="card-body">
                        <p><u>Book Name</u> : {{trans.book.title}}</p>
                        <p><u>Author   </u> : {{trans.book.author}}</p>
                     </div>
                     <div class="card-footer text-right">
                        <form action="" method="POST">
                           {% csrf_token %}
                           <input type="hidden" name="bookid" value="{{trans.id}}">
                           <input type="submit" value="return" name="return" class="btn btn-primary">
                        </form>
                     </div>
                  </div>
               </div>
            </div>
        </div>
      </div>
    </div>
</section>
{% endblock body %}